:root {
    /*Colour Palettes*/
    --theme0-primary-color: #5DFDCB;
    --theme0-secondary-color: #7CC6FE;
    --theme0-accent-color: #F4FAFF;
    --theme0-accent2-color: #011627;
    --theme0-text-color: #000000;
    --theme0-background-color: #bdbebd;

    --theme1-primary-color: #221d23;
    --theme1-secondary-color: #4f3824;
    --theme1-accent-color: #d1603d;
    --theme1-accent2-color: #ddb967;
    --theme1-text-color: #000000;
    --theme1-background-color: #d0e37f;

    --theme2-primary-color: #210B2C;
    --theme2-secondary-color: #55286F;
    --theme2-accent-color: #BC96E6;
    --theme2-accent2-color: #D8B4E2;
    --theme2-text-color: #FFFFFF;
    --theme2-background-color: #AE759F;

    --theme3-primary-color: #EEE0CB;
    --theme3-secondary-color: #BAA898;
    --theme3-accent-color: #848586;
    --theme3-accent2-color: #C2847A;
    --theme3-text-color: #FFFFFF;
    --theme3-background-color: #280003;
}

body{
    font-family: "Ubuntu Condensed", sans-serif;
    background-color: var(--theme0-background-color);
    color: var(--theme0-text-color);
}

#header {
    background-color: var(--theme0-secondary-color);
}
#paintbrushMenu {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

#paintbrushMenu.show {
    display: table-column;
    opacity: 1;
    transform: translateY(-10px) translateX(-60px);
    background-color: var(--theme0-accent-color);
}

#loginPage{
    background-color: var(--theme0-background-color);
}

#theme0{
    background-color: var(--theme0-secondary-color)
}
#theme0:hover{
    background-color: var(--theme0-primary-color)
}


#theme1{
    background-color: var(--theme1-secondary-color)
}
#theme1:hover{
    background-color: var(--theme1-primary-color)
}


#theme2{
    background-color: var(--theme2-secondary-color)
}
#theme2:hover{
    background-color: var(--theme2-primary-color)
}
#theme2:active{
    background-color: var(--theme2-accent-color)
}


#theme3{
    background-color: var(--theme3-secondary-color)
}
#theme3:hover{
    background-color: var(--theme3-primary-color);
}

